<p id="notice"><%= notice %></p>

<p>
  <strong>Sample num:</strong>
  <%= @mycometer_coc_sample.sample_num %>
</p>

<p>
  <strong>Location:</strong>
  <%= @mycometer_coc_sample.location %>
</p>

<p>
  <strong>Bv1:</strong>
  <%= @mycometer_coc_sample.bv1 %>
</p>

<p>
  <strong>Bv2:</strong>
  <%= @mycometer_coc_sample.bv2 %>
</p>

<p>
  <strong>Cv:</strong>
  <%= @mycometer_coc_sample.cv %>
</p>

<p>
  <strong>Av:</strong>
  <%= @mycometer_coc_sample.av %>
</p>

<p>
  <strong>Bsv:</strong>
  <%= @mycometer_coc_sample.bsv %>
</p>

<p>
  <strong>Result:</strong>
  <%= @mycometer_coc_sample.result %>
</p>

<p>
  <strong>Mycometer coc:</strong>
  <%= @mycometer_coc_sample.mycometer_coc %>
</p>

<%= link_to 'Edit', edit_mycometer_coc_sample_path(@mycometer_coc_sample) %> |
<%= link_to 'Back', mycometer_coc_samples_path %>
