<p id="notice"><%= notice %></p>

<p>
  <strong>Agrocybe:</strong>
  <%= @spore_type_count.agrocybe %>
</p>

<p>
  <strong>Alternaria:</strong>
  <%= @spore_type_count.alternaria %>
</p>

<p>
  <strong>Ascospores:</strong>
  <%= @spore_type_count.ascospores %>
</p>

<p>
  <strong>Aspergillus:</strong>
  <%= @spore_type_count.aspergillus %>
</p>

<p>
  <strong>Aureobasidium:</strong>
  <%= @spore_type_count.aureobasidium %>
</p>

<p>
  <strong>Basidiospores:</strong>
  <%= @spore_type_count.basidiospores %>
</p>

<p>
  <strong>Bipolaris:</strong>
  <%= @spore_type_count.bipolaris %>
</p>

<p>
  <strong>Botrytis:</strong>
  <%= @spore_type_count.botrytis %>
</p>

<p>
  <strong>Chaetomium:</strong>
  <%= @spore_type_count.chaetomium %>
</p>

<p>
  <strong>Cercospora:</strong>
  <%= @spore_type_count.cercospora %>
</p>

<p>
  <strong>Cladosporium:</strong>
  <%= @spore_type_count.cladosporium %>
</p>

<p>
  <strong>Curvularia:</strong>
  <%= @spore_type_count.curvularia %>
</p>

<p>
  <strong>Epicoccum:</strong>
  <%= @spore_type_count.epicoccum %>
</p>

<p>
  <strong>Fusarium:</strong>
  <%= @spore_type_count.fusarium %>
</p>

<p>
  <strong>Myxomycetes:</strong>
  <%= @spore_type_count.myxomycetes %>
</p>

<p>
  <strong>Nigrospora:</strong>
  <%= @spore_type_count.nigrospora %>
</p>

<p>
  <strong>Oidium:</strong>
  <%= @spore_type_count.oidium %>
</p>

<p>
  <strong>Pithomyces:</strong>
  <%= @spore_type_count.pithomyces %>
</p>

<p>
  <strong>Pithomyces:</strong>
  <%= @spore_type_count.pithomyces %>
</p>

<p>
  <strong>Pollen:</strong>
  <%= @spore_type_count.pollen %>
</p>

<p>
  <strong>Rust:</strong>
  <%= @spore_type_count.rust %>
</p>

<p>
  <strong>Spegazzina:</strong>
  <%= @spore_type_count.spegazzina %>
</p>

<p>
  <strong>Stachybotrys:</strong>
  <%= @spore_type_count.stachybotrys %>
</p>

<p>
  <strong>Torula:</strong>
  <%= @spore_type_count.torula %>
</p>

<p>
  <strong>Tetraploa:</strong>
  <%= @spore_type_count.tetraploa %>
</p>

<p>
  <strong>Ulocladium:</strong>
  <%= @spore_type_count.ulocladium %>
</p>

<p>
  <strong>Unidentifiable:</strong>
  <%= @spore_type_count.unidentifiable %>
</p>

<p>
  <strong>Fibrous:</strong>
  <%= @spore_type_count.fibrous %>
</p>

<p>
  <strong>Hyphal:</strong>
  <%= @spore_type_count.hyphal %>
</p>

<p>
  <strong>Insect:</strong>
  <%= @spore_type_count.insect %>
</p>

<p>
  <strong>Tape bulk coc sample:</strong>
  <%= @spore_type_count.tape_bulk_coc_sample %>
</p>

<%= link_to 'Edit', edit_spore_type_count_path(@spore_type_count) %> |
<%= link_to 'Back', spore_type_counts_path %>
