<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @mycometer_coc.date %>
</p>

<p>
  <strong>Turnaround:</strong>
  <%= @mycometer_coc.turnaround %>
</p>

<p>
  <strong>Mold air:</strong>
  <%= @mycometer_coc.mold_air %>
</p>

<p>
  <strong>Building type:</strong>
  <%= @mycometer_coc.building_type %>
</p>

<p>
  <strong>Sampling method:</strong>
  <%= @mycometer_coc.sampling_method %>
</p>

<p>
  <strong>Ambient temp:</strong>
  <%= @mycometer_coc.ambient_temp %>
</p>

<p>
  <strong>Reaction time:</strong>
  <%= @mycometer_coc.reaction_time %>
</p>

<p>
  <strong>Liters minute:</strong>
  <%= @mycometer_coc.liters_minute %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @mycometer_coc.duration %>
</p>

<p>
  <strong>Job type:</strong>
  <%= @mycometer_coc.job_type %>
</p>

<p>
  <strong>Cli type:</strong>
  <%= @mycometer_coc.cli_type %>
</p>

<p>
  <strong>Job:</strong>
  <%= @mycometer_coc.job %>
</p>

<p>
  <strong>User:</strong>
  <%= @mycometer_coc.user %>
</p>

<%= link_to 'Edit', edit_mycometer_coc_path(@mycometer_coc) %> |
<%= link_to 'Back', mycometer_cocs_path %>
