          <div class="row">
            <div class="large-12 columns">
              <div class="row">
                <div class="large-12 columns">
                    <div class="job_type">
                        <h4 id="label_style">Listing All Jobs</h4>
                    </div>
                    <br>
                    <table id="jobsTable" class="display">
                        <thead id="jobsTable">
                          <tr>
                              <th>Job ID</th>
                              <th>Created On</th>
                              <th>Created By</th>
                              <th>Company</th>
                              <th>Subcontractor</th>
                              <th>Jobsite</th>
                          </tr>
                        </thead>
                        <tbody id="jobsTable">
                          <% @jobs.each do |job| %>
                              <tr id="jobsTable">
                                <td><%= job.id %> </td>
                                <td><%= link_to "#{job.date.strftime("%b %d %Y, %I:%M %p")}", job %></td>
                                <td><%= job.user.username %></td>
                                <% if job.company %>
                                    <td><%= job.company.name %></td>
                                <% else %>
                                    <td> N/A </td>
                                <% end %>
                                <% if job.subcontractor %>
                                    <td><%= job.subcontractor.name %></td>
                                <% else %>
                                    <td> N/A </td>
                                <% end %>
                                <% if job.jobsite %>
                                    <td><%= job.jobsite.name %></td>
                                <% else %>
                                    <td> N/A </td>
                                <% end %>
                              </tr>
                          <% end %>
                      </tbody>
                    </table>
                  </div>
              </div>
            </div>
          </div>